body {
    font-family:'source sans pro',calibri,tahama,sans-serif;
    margin: 0;
    background: #f5f5f5;
}

.container{
    display: flex;
    width: 780px;
    margin: auto;
    background: rgb(227, 213, 213);
    border-radius: 100px ;
    padding: 20px;
    border: 5px solid #5a3838;

}


.info-gauche {
    width: 40%;
    background: #8f5c5c;
    padding: 50px;
    text-align: center;
    border-radius: 50px;
}


.photo  {
    width: 150px;
    height: 150px;
    border: 2cap solid #9f6969;
    border-radius:50 px;
    margin-top: -70vh;
    padding-right: 20vh;
}

.info h1 {
    font-size: 20px;
    margin-bottom: 5%;
}

.info h2 {
    font-size: 16px;
    color: gray;
    margin-top: 5px;
}

.info h3 {
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
    text-align: info;
    padding-bottom: 5px;
}


.info-droite {
    width: 70%;
    padding: 20px;
}

.right h3 {
    border-bottom: 1px solid #ccc;
}

ul {
    margin-top: 5px;

}



